In [1]:
## How do recessions affect unemployment?

In [10]:
# 1. Unemployment rates from 2006 to 2016

In [27]:
import pandas as pd
rates_file = "../UnempData/07.11.csv"
rates_df = pd.read_csv(rates_file)
rates_df.head()

   Year   Jan   Feb   Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  2007     5   4.9   4.5  4.3  4.3  4.7  4.9  4.6  4.5  4.4  4.5  4.8
1  2008   5.4   5.2   5.2  4.8  5.2  5.7  6.0  6.1  6.0  6.1  6.5  7.1
2  2009   8.5   8.9   9.0  8.6  9.1  9.7  9.7  9.6  9.5  9.5  9.4  9.7
3  2010  10.6  10.4  10.2  9.5  9.3  9.6  9.7  9.5  9.2  9.0  9.3  9.1
4  2011   9.8   9.5   9.2  8.7  8.7  9.3  9.3  9.1  8.8  8.5  8.2  8.3

In [ ]:
x_axis =

In [28]:
# 2. Unemployment rates from 2016 to 2022
rates_file = "../UnempData/18.22.csv"
rates_df = pd.read_csv(rates_file)
rates_df.head()

   Year  Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep  Oct  Nov  Dec
0  2018  4.5  4.4  4.1   3.7   3.6   4.2   4.1  3.9  3.6  3.5  3.5  3.7
1  2019  4.4  4.1  3.9   3.3   3.4   3.8   4.0  3.8  3.3  3.3  3.3  3.4
2  2020    4  3.8  4.5  14.4  13.0  11.2  10.5  8.5  7.7  6.6  6.4  6.5
3  2021  6.8  6.6  6.2   5.7   5.5   6.1   5.7  5.3  4.6  4.3  3.9  3.7
4  2022  4.4  4.1  3.8   3.3   3.4   3.8   3.8  3.8  3.3  NaN  NaN  NaN

In [ ]:
# 3. Comparing employment rates between 08/10 with rates between 20/22

In [ ]:
# Final analysis